<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="body">
    <header id="header">
      <h1>Good morning Ashish...!</h1>
    </header>

    <nav id="navbar">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">About</a></li>
        </ul>
    </nav>
    
    <section id="main">
      <article id="bodyArea">
        <h1>Hello my Friend.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi atque itaque totam, explicabo ut laudantium non perspiciatis aspernatur minus aperiam sit. Molestias incidunt amet ratione, nihil sint maiores quisquam atque.</p>
      </article>

      <aside id="asideArea">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo minima possimus quae beatae non fugiat reprehenderit at quidem nobis, sed repellendus! Reiciendis debitis voluptatem provident maiores laborum quaerat, sit id!</p>
      </aside>

    </section>

    <footer id="footer">
      <p>All Rights Reserved.</p>
    </footer>
  </body>
</html>
